:root {
  --imgScaleRatio: 20px;
  --red: #d1756b;
  --orange: #ec9759;
  --yellow: #fdc606;
  --darkblue: #003986;
  --lightblue: #06a6f4;
}

@media (max-width: 1000px) {
  :root {
    --imgScaleRatio: 10px;
  }
}

@media (max-width: 600px) {
  :root {
    --imgScaleRatio: 4px;
  }
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  overflow: hidden;
}

body {
  color: white;
  background-color: var(--darkblue);
  font-family: georgia, serif;
}

/* MY CLASSES */

*::selection {
  background: var(--lightblue);
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttons-small {
  width: 26vw;
  height: 58vh;
}

.buttons-big {
  width: 36vw;
  height: 75vh;
}

.button {
  width: 97.5%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(48, 83, 171, 1) 0%,
    rgba(48, 83, 171, 1) 75%,
    rgba(48, 83, 171, 0) 100%
  );
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  box-shadow: inset 10px 1px 8px white;
}

.button:hover {
  transform: scale(1.05);
}

.button-clip {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  transition: clip-path 200ms;
}

.button-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.home-block {
  margin-left: 10vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-block {
  width: 55vw;
  margin-left: 10vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-text {
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.contact-block {
  margin-left: 10vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.contact-input {
  width: 47.5%;
  background-color: transparent;
  color: white;
  border: 1px solid grey;
  padding: 6px;
  margin: 5px 0 10px 0;
}

.contact-input:focus {
  background-color: rgba(255, 255, 255, 0.16);
}

.contact-message {
  width: 100%;
  height: 16vh;
  resize: none;
}

.contact-send {
  width: 20%;
  outline: none;
  border: none;
  align-self: flex-end;
  margin-top: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  transition: background-color 9999s ease-in-out 0s;
}

.video-header {
  display: flex;
  justify-content: space-between;
  font-size: 2vw;
}

.video-wrapper {
  position: relative;
  width: 30vw;
  min-width: 30vw;
  height: 22.5vw;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.challenge-block {
  margin: 1.5vw;
  max-width: 28vw;
}

.challenge-text {
  padding-left: 6px;
  border-left: 2px solid var(--red);
}

.solution {
  margin: 0 0 50px 40px;
}

.challenge-header {
  font-size: 1.25rem;
  color: var(--red);
}

.solution-header {
  color: var(--yellow);
}

.video-block {
  background: linear-gradient(145deg, var(--darkblue), var(--lightblue));
  box-shadow: 10px 10px 0px var(--yellow), -10px -10px 0px var(--red);
  margin-left: 2vw;
  padding: 1vw;
  max-width: 32vw;
  /* box-shadow: 2px 2px 4px blue; */
}

.orange-box {
  padding: 6px;
  margin: 4px;
  display: flex;
  align-items: center;
  border-left: 2px solid var(--red);
  border-right: 2px solid var(--yellow);
  background: transparent;
  border-radius: 4px;
  background-image: linear-gradient(
      90deg,
      var(--red),
      var(--orange),
      var(--yellow)
    ),
    linear-gradient(90deg, var(--red), var(--orange), var(--yellow));
  background-size: 100% 2px;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  text-decoration: none;
  font-family: "Play", sans-serif;
  transition: color 200ms;
  /* background: linear-gradient(40deg, #db895d, #faa434, #fdc606); */
}

.gradient-text {
  background: linear-gradient(90deg, var(--red), var(--orange), var(--yellow));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.orange-button-text:hover {
  background-size: 200% 200%;
  animation: gradientScroll 1s ease infinite;
}

@keyframes gradientScroll {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.background {
  background-image: url("../images/ocean.jpg");
  position: fixed;
  top: 4vw;
  left: 5vw;
  height: calc(100vh - 8vw);
  width: 90vw;
  z-index: -1;
}

.red {
  color: var(--red);
}

.orange {
  color: var(--orange);
}

.yellow {
  color: var(--yellow);
}

.gradient-bar {
  background: linear-gradient(var(--red), var(--orange), var(--yellow));
}

/* F O N T S */

h1 {
  font-family: "Kodchasan", sans-serif;
}

h3 {
  font-family: "Gayathri", sans-serif;
}

h4 {
  font-family: "Gayathri", sans-serif;
}

.button-text {
  font-family: "Play", "Kodchasan", sans-serif;
  font-size: 1.1rem;
}

.video-header {
  font-family: "Kodchasan", sans-serif;
}

.challenge-block {
  font-family: "Gayathri", sans-serif;
}

.about-block {
  font-family: "Gayathri", sans-serif;
}

.orange-button {
  font-family: "Play", sans-serif;
}

.contact-input,
.contact-message {
  font-family: "Gayathri", sans-serif;
}
